#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			
			bindings = <
				&kp N6		&kp N7		&kp N8		&kp N9		&kp N0		&kp EQUAL    
				&kp Y		&kp U		&kp I		&kp O     	&kp P     	&kp NUBS  
				&kp H    	&kp J    	&kp K    	&kp L     	&kp SEMI     	&kp SQT 
				&kp N 		&kp M 		&kp COMMA    	&kp DOT     	&kp FSLH     	&kp NUBS 
				&kp BSPC  	&kp RET   	&kp SPACE    	&kp UP 		&kp DOWN    
				&kp A  		&kp Z     
			>;

		};
//		layer {
//			
//			bindings = <
//				&bt BT_CLR_ALL    &bt BT_SEL 0    &bt BT_SEL 1    &kp E     &kp R     &kp T  
//				&kp TAB    &bt BT_CLR    &kp S    &kp D     &kp F     &kp G 
//				&kp LSHIFT &bt BT_DISC    &kp X    &kp C     &kp V     &kp B 
//				&none  &none   &kp RET    &kp SPACE &trans  &kp LSHIFT    
//			>;
//
//		};
	};
};
