if SHIELD_DACTYL_LEFT

config ZMK_KEYBOARD_NAME
	default "Jarl_dactyl"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

config CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC
	default y

endif

if SHIELD_DACTYL_LEFT || SHIELD_DACTYL_RIGHT

config ZMK_SPLIT
	default y

endif
